@use "../abstracts" as *;
@use "../utility/" as *;

body,
html {
  background-color: $backgroundMain;
  font-family: $fontFamily;
}

.appContainer {
  padding: 25px;
  padding-top: 0;

  @include breakpoint-up(large) {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
